<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gasto">
            <h2><span jhiTranslate="telefoniaApp.gasto.detail.title">Gasto</span> {{gasto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.gasto.nombre">Nombre</span></dt>
                <dd>
                    <span>{{gasto.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.gasto.fecha">Fecha</span></dt>
                <dd>
                    <span>{{gasto.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.gasto.precio">Precio</span></dt>
                <dd>
                    <span>{{gasto.precio}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.gasto.asociado">Asociado</span></dt>
                <dd>
                    <span jhiTranslate="{{'telefoniaApp.Asociado.' + gasto.asociado}}">{{gasto.asociado}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.gasto.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="gasto.cliente">
                        <a [routerLink]="['/cliente', gasto.cliente?.id, 'view']">{{gasto.cliente?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.gasto.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="gasto.empresa">
                        <a [routerLink]="['/empresa', gasto.empresa?.id, 'view']">{{gasto.empresa?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.gasto.comercial">Comercial</span></dt>
                <dd>
                    <div *ngIf="gasto.comercial">
                        <a [routerLink]="['/comercial', gasto.comercial?.id, 'view']">{{gasto.comercial?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.gasto.equipo">Equipo</span></dt>
                <dd>
                    <div *ngIf="gasto.equipo">
                        <a [routerLink]="['/equipo', gasto.equipo?.id, 'view']">{{gasto.equipo?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gasto', gasto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
