<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.gasto.home.title">Gastos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gasto" [routerLink]="['/gasto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="telefoniaApp.gasto.home.createLabel">
            Create new Gasto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gastos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="telefoniaApp.gasto.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="telefoniaApp.gasto.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precio"><span jhiTranslate="telefoniaApp.gasto.precio">Precio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="asociado"><span jhiTranslate="telefoniaApp.gasto.asociado">Asociado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cliente.id"><span jhiTranslate="telefoniaApp.gasto.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="empresa.id"><span jhiTranslate="telefoniaApp.gasto.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comercial.id"><span jhiTranslate="telefoniaApp.gasto.comercial">Comercial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipo.id"><span jhiTranslate="telefoniaApp.gasto.equipo">Equipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gasto of gastos ;trackBy: trackId">
                <td><a [routerLink]="['/gasto', gasto.id, 'view' ]">{{gasto.id}}</a></td>
                <td>{{gasto.nombre}}</td>
                <td>{{gasto.fecha | date:'mediumDate'}}</td>
                <td>{{gasto.precio}}</td>
                <td jhiTranslate="{{'telefoniaApp.Asociado.' + gasto.asociado}}">{{gasto.asociado}}</td>
                <td>
                    <div *ngIf="gasto.cliente">
                        <a [routerLink]="['../cliente', gasto.cliente?.id, 'view' ]" >{{gasto.cliente?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gasto.empresa">
                        <a [routerLink]="['../empresa', gasto.empresa?.id, 'view' ]" >{{gasto.empresa?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gasto.comercial">
                        <a [routerLink]="['../comercial', gasto.comercial?.id, 'view' ]" >{{gasto.comercial?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gasto.equipo">
                        <a [routerLink]="['../equipo', gasto.equipo?.id, 'view' ]" >{{gasto.equipo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gasto', gasto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gasto', gasto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'gasto', { outlets: { popup: gasto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="gastos && gastos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
