<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-gasto-heading" jhiTranslate="telefoniaApp.gasto.home.createOrEditLabel">Create or edit a Gasto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gasto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="gasto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.gasto.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="gasto.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.gasto.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="gasto.fecha"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.gasto.precio" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio"
                        [(ngModel)]="gasto.precio" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.gasto.asociado" for="field_asociado">Asociado</label>
                    <select class="form-control" name="asociado" [(ngModel)]="gasto.asociado" id="field_asociado" >
                        <option value="Empresa">{{'telefoniaApp.Asociado.Empresa' | translate}}</option>
                        <option value="Cliente">{{'telefoniaApp.Asociado.Cliente' | translate}}</option>
                        <option value="Comercial">{{'telefoniaApp.Asociado.Comercial' | translate}}</option>
                        <option value="Equipo">{{'telefoniaApp.Asociado.Equipo' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.gasto.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="gasto.cliente" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === gasto.cliente?.id ? gasto.cliente : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.gasto.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" [(ngModel)]="gasto.empresa" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id === gasto.empresa?.id ? gasto.empresa : empresaOption" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.gasto.comercial" for="field_comercial">Comercial</label>
                    <select class="form-control" id="field_comercial" name="comercial" [(ngModel)]="gasto.comercial" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="comercialOption.id === gasto.comercial?.id ? gasto.comercial : comercialOption" *ngFor="let comercialOption of comercials; trackBy: trackComercialById">{{comercialOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.gasto.equipo" for="field_equipo">Equipo</label>
                    <select class="form-control" id="field_equipo" name="equipo" [(ngModel)]="gasto.equipo" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="equipoOption.id === gasto.equipo?.id ? gasto.equipo : equipoOption" *ngFor="let equipoOption of equipos; trackBy: trackEquipoById">{{equipoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
