<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cuentaLinea">
            <h2><span jhiTranslate="telefoniaApp.cuentaLinea.detail.title">Cuenta Linea</span> {{cuentaLinea.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.cuentaLinea.nombre">Nombre</span></dt>
                <dd>
                    <span>{{cuentaLinea.nombre}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cuenta-linea', cuentaLinea.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
