<jhi-alert></jhi-alert>
<full-calendar *ngIf="options" #calendar [defaultView]="options.defaultView" [plugins]="options.plugins"
  [header]="options.header" [editable]="options.editable" locales="idiomaCalendario" [eventLimit]="options.eventLimit"
  [views]="options.views" [eventLimitText]="options.eventLimitText" [customButtons]="options.customButtons"
  [buttonText]="options.buttonText" [firstDay]="options.firstDay" [events]="events" (dateClick)="handleDateClick($event)"
  (eventClick)="handleEventClick($event)">
  <!--
  (eventDragStop)="eventDragStop($event)"
  (eventDragStart)="eventDragStart($event)"
  (dayRender)="dayRender($event,el)"
-->
</full-calendar>
<P>{{ eventosAgenda | json }} </P>
<P>{{ events | json }} </P>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ eventoPopUp?.id }} - {{ eventoPopUp?.titulo }}</h5>
    <button type="button" class="btn btn-secondary" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.titulo" for="field_titulo">Titulo</label>
      <input type="text" class="form-control" name="titulo" id="field_titulo" [(ngModel)]="eventoPopUp.titulo"
        required=true />
    </div>
    <div class="form-group">
      <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.inicio" for="field_inicio">Inicio</label>
      <div class="d-flex">
        <input id="field_inicio" type="datetime-local" class="form-control" name="inicio" required=true
          [(ngModel)]="eventoPopUpInicio" placeholder="YYYY-MM-DD HH:mm" />
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.fin" for="field_fin">Fin</label>
      <div class="d-flex">
        <input id="field_fin" type="datetime-local" class="form-control" name="fin" [(ngModel)]="eventoPopUpFin"
          placeholder="YYYY-MM-DD HH:mm"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="close()">
      <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <!-- PENDIENTE  [disabled]="editForm.form.invalid || isSaving"  -->
    <button type="button" id="save-entity" class="btn btn-primary" (click)="guardarEvento()" [disabled]="isSaving">
      <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
  </div>

</ng-template>