<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agenda">
            <h2><span jhiTranslate="telefoniaApp.agenda.detail.title">Agenda</span> {{agenda.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.agenda.titulo">Titulo</span></dt>
                <dd>
                    <span>{{agenda.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.agenda.color">Color</span></dt>
                <dd>
                    <span jhiTranslate="{{'telefoniaApp.Color.' + agenda.color}}">{{agenda.color}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.agenda.inicio">Inicio</span></dt>
                <dd>
                    <span>{{agenda.inicio}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.agenda.fin">Fin</span></dt>
                <dd>
                    <span>{{agenda.fin}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.agenda.observacion">Observacion</span></dt>
                <dd>
                    <span>{{agenda.observacion}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.agenda.estadoPorcentual">Estado Porcentual</span></dt>
                <dd>
                    <div *ngIf="agenda.estadoPorcentual">
                        <a [routerLink]="['/estado-porcentual', agenda.estadoPorcentual?.id, 'view']">{{agenda.estadoPorcentual?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.agenda.comercial">Comercial</span></dt>
                <dd>
                    <div *ngIf="agenda.comercial">
                        <a [routerLink]="['/comercial', agenda.comercial?.id, 'view']">{{agenda.comercial?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agenda', agenda.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
