<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.agenda.home.title">Agenda</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agenda"
            [routerLink]="['/agenda/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="telefoniaApp.agenda.home.createLabel">
                Create new Agenda
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="agenda">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="titulo"><span jhiTranslate="telefoniaApp.agenda.titulo">Titulo</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="color"><span jhiTranslate="telefoniaApp.agenda.color">Color</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="inicio"><span jhiTranslate="telefoniaApp.agenda.inicio">Inicio</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="fin"><span jhiTranslate="telefoniaApp.agenda.fin">Fin</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="observacion"><span jhiTranslate="telefoniaApp.agenda.observacion">Observacion</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="estadoPorcentual.id"><span jhiTranslate="telefoniaApp.agenda.estadoPorcentual">Estado
                            Porcentual</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="comercial.id"><span jhiTranslate="telefoniaApp.agenda.comercial">Comercial</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agenda of agenda ;trackBy: trackId">
                    <td><a [routerLink]="['/agenda', agenda.id, 'view' ]">{{agenda.id}}</a></td>
                    <td>{{agenda.titulo}}</td>
                    <td jhiTranslate="{{'telefoniaApp.Color.' + agenda.color}}">{{agenda.color}}</td>
                    <td>{{agenda.inicio | date:'medium'}}</td>
                    <td>{{agenda.fin | date:'medium'}}</td>
                    <td>{{agenda.observacion}}</td>
                    <td>
                        <div *ngIf="agenda.estadoPorcentual">
                            <a
                                [routerLink]="['../estado-porcentual', agenda.estadoPorcentual?.id, 'view' ]">{{agenda.estadoPorcentual?.id}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="agenda.comercial">
                            <a
                                [routerLink]="['../comercial', agenda.comercial?.id, 'view' ]">{{agenda.comercial?.id}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/agenda', agenda.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/agenda', agenda.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'agenda', { outlets: { popup: agenda.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="agenda && agenda.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>