<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-agenda-heading" jhiTranslate="telefoniaApp.agenda.home.createOrEditLabel">Create or edit a
                Agenda</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!agenda.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="agenda.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.titulo"
                        for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                        [(ngModel)]="agenda.titulo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.color"
                        for="field_color">Color</label>
                    <select class="form-control" name="color" [(ngModel)]="agenda.color" id="field_color">
                        <option value="Azul">{{'telefoniaApp.Color.Azul' | translate}}</option>
                        <option value="RojoClaro">{{'telefoniaApp.Color.RojoClaro' | translate}}</option>
                        <option value="Turquesa">{{'telefoniaApp.Color.Turquesa' | translate}}</option>
                        <option value="Verde">{{'telefoniaApp.Color.Verde' | translate}}</option>
                        <option value="Amarillo">{{'telefoniaApp.Color.Amarillo' | translate}}</option>
                        <option value="Naranja">{{'telefoniaApp.Color.Naranja' | translate}}</option>
                        <option value="Rojo">{{'telefoniaApp.Color.Rojo' | translate}}</option>
                        <option value="Negro">{{'telefoniaApp.Color.Negro' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.inicio"
                        for="field_inicio">Inicio</label>
                    <div class="d-flex">
                        <input id="field_inicio" type="datetime-local" class="form-control" name="inicio"
                            [(ngModel)]="inicio" placeholder="YYYY-MM-DD HH:mm" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.fin" for="field_fin">Fin</label>
                    <div class="d-flex">
                        <input id="field_fin" type="datetime-local" class="form-control" name="fin" [(ngModel)]="fin"
                            placeholder="YYYY-MM-DD HH:mm" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.observacion"
                        for="field_observacion">Observacion</label>
                    <input type="text" class="form-control" name="observacion" id="field_observacion"
                        [(ngModel)]="agenda.observacion" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.estadoPorcentual"
                        for="field_estadoPorcentual">Estado Porcentual</label>
                    <select class="form-control" id="field_estadoPorcentual" name="estadoPorcentual"
                        [(ngModel)]="agenda.estadoPorcentual">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="estadoPorcentualOption.id === agenda.estadoPorcentual?.id ? agenda.estadoPorcentual : estadoPorcentualOption"
                            *ngFor="let estadoPorcentualOption of estadoporcentuals; trackBy: trackEstadoPorcentualById">
                            {{estadoPorcentualOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.agenda.comercial"
                        for="field_comercial">Comercial</label>
                    <select class="form-control" id="field_comercial" name="comercial" [(ngModel)]="agenda.comercial">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="comercialOption.id === agenda.comercial?.id ? agenda.comercial : comercialOption"
                            *ngFor="let comercialOption of comercials; trackBy: trackComercialById">
                            {{comercialOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>