<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subestado">
            <h2><span jhiTranslate="telefoniaApp.subestado.detail.title">Subestado</span> {{subestado.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.subestado.nombre">Nombre</span></dt>
                <dd>
                    <span>{{subestado.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.subestado.estado">Estado</span></dt>
                <dd>
                    <div *ngIf="subestado.estado">
                        <a [routerLink]="['/estado', subestado.estado?.id, 'view']">{{subestado.estado?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subestado', subestado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
