<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="telefoniaApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cliente.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cliente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="cliente.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.cif" for="field_cif">Cif</label>
                    <input type="text" class="form-control" name="cif" id="field_cif"
                        [(ngModel)]="cliente.cif" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.apoderado" for="field_apoderado">Apoderado</label>
                    <input type="text" class="form-control" name="apoderado" id="field_apoderado"
                        [(ngModel)]="cliente.apoderado" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.nacimiento" for="field_nacimiento">Nacimiento</label>
                    <div class="input-group">
                        <input id="field_nacimiento" type="text" class="form-control" name="nacimiento" ngbDatepicker  #nacimientoDp="ngbDatepicker" [(ngModel)]="cliente.nacimiento"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="nacimientoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.nacimiento?.dirty && editForm.controls.nacimiento?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nacimiento?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.dni" for="field_dni">Dni</label>
                    <input type="text" class="form-control" name="dni" id="field_dni"
                        [(ngModel)]="cliente.dni" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.personaContacto" for="field_personaContacto">Persona Contacto</label>
                    <input type="text" class="form-control" name="personaContacto" id="field_personaContacto"
                        [(ngModel)]="cliente.personaContacto" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                        [(ngModel)]="cliente.correo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.telefono" for="field_telefono">Telefono</label>
                    <input type="number" class="form-control" name="telefono" id="field_telefono"
                        [(ngModel)]="cliente.telefono" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                        [(ngModel)]="cliente.direccion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.localidad" for="field_localidad">Localidad</label>
                    <input type="text" class="form-control" name="localidad" id="field_localidad"
                        [(ngModel)]="cliente.localidad" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.provincia" for="field_provincia">Provincia</label>
                    <input type="text" class="form-control" name="provincia" id="field_provincia"
                        [(ngModel)]="cliente.provincia" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.codigoPostal" for="field_codigoPostal">Codigo Postal</label>
                    <input type="number" class="form-control" name="codigoPostal" id="field_codigoPostal"
                        [(ngModel)]="cliente.codigoPostal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.cta" for="field_cta">Cta</label>
                    <input type="text" class="form-control" name="cta" id="field_cta"
                        [(ngModel)]="cliente.cta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.observaciones" for="field_observaciones">Observaciones</label>
                    <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                        [(ngModel)]="cliente.observaciones" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.penalizacionesVF" for="field_penalizacionesVF">Penalizaciones VF</label>
                    <input type="number" class="form-control" name="penalizacionesVF" id="field_penalizacionesVF"
                        [(ngModel)]="cliente.penalizacionesVF" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.penalizacionesUn4tel" for="field_penalizacionesUn4tel">Penalizaciones Un 4 Tel</label>
                    <input type="number" class="form-control" name="penalizacionesUn4tel" id="field_penalizacionesUn4tel"
                        [(ngModel)]="cliente.penalizacionesUn4tel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.liberalizaciones" for="field_liberalizaciones">Liberalizaciones</label>
                    <input type="number" class="form-control" name="liberalizaciones" id="field_liberalizaciones"
                        [(ngModel)]="cliente.liberalizaciones" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.costeAlcliente" for="field_costeAlcliente">Coste Alcliente</label>
                    <input type="number" class="form-control" name="costeAlcliente" id="field_costeAlcliente"
                        [(ngModel)]="cliente.costeAlcliente" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.cliente.ocultarComerciales" for="field_ocultarComerciales">Ocultar Comerciales</label>
                    <input type="checkbox" class="form-control" name="ocultarComerciales" id="field_ocultarComerciales"
                        [(ngModel)]="cliente.ocultarComerciales" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
