<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="telefoniaApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.cliente.nombre">Nombre</span></dt>
                <dd>
                    <span>{{cliente.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.cif">Cif</span></dt>
                <dd>
                    <span>{{cliente.cif}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.apoderado">Apoderado</span></dt>
                <dd>
                    <span>{{cliente.apoderado}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.nacimiento">Nacimiento</span></dt>
                <dd>
                    <span>{{cliente.nacimiento}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.dni">Dni</span></dt>
                <dd>
                    <span>{{cliente.dni}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.personaContacto">Persona Contacto</span></dt>
                <dd>
                    <span>{{cliente.personaContacto}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.correo">Correo</span></dt>
                <dd>
                    <span>{{cliente.correo}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.telefono">Telefono</span></dt>
                <dd>
                    <span>{{cliente.telefono}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.direccion">Direccion</span></dt>
                <dd>
                    <span>{{cliente.direccion}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.localidad">Localidad</span></dt>
                <dd>
                    <span>{{cliente.localidad}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.provincia">Provincia</span></dt>
                <dd>
                    <span>{{cliente.provincia}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.codigoPostal">Codigo Postal</span></dt>
                <dd>
                    <span>{{cliente.codigoPostal}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.cta">Cta</span></dt>
                <dd>
                    <span>{{cliente.cta}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.observaciones">Observaciones</span></dt>
                <dd>
                    <span>{{cliente.observaciones}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.penalizacionesVF">Penalizaciones VF</span></dt>
                <dd>
                    <span>{{cliente.penalizacionesVF}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.penalizacionesUn4tel">Penalizaciones Un 4 Tel</span></dt>
                <dd>
                    <span>{{cliente.penalizacionesUn4tel}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.liberalizaciones">Liberalizaciones</span></dt>
                <dd>
                    <span>{{cliente.liberalizaciones}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.costeAlcliente">Coste Alcliente</span></dt>
                <dd>
                    <span>{{cliente.costeAlcliente}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.cliente.ocultarComerciales">Ocultar Comerciales</span></dt>
                <dd>
                    <span>{{cliente.ocultarComerciales}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
