<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.cliente.home.title">Clientes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="telefoniaApp.cliente.home.createLabel">
            Create new Cliente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="clientes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="telefoniaApp.cliente.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cif"><span jhiTranslate="telefoniaApp.cliente.cif">Cif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apoderado"><span jhiTranslate="telefoniaApp.cliente.apoderado">Apoderado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nacimiento"><span jhiTranslate="telefoniaApp.cliente.nacimiento">Nacimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dni"><span jhiTranslate="telefoniaApp.cliente.dni">Dni</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personaContacto"><span jhiTranslate="telefoniaApp.cliente.personaContacto">Persona Contacto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correo"><span jhiTranslate="telefoniaApp.cliente.correo">Correo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefono"><span jhiTranslate="telefoniaApp.cliente.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="direccion"><span jhiTranslate="telefoniaApp.cliente.direccion">Direccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="localidad"><span jhiTranslate="telefoniaApp.cliente.localidad">Localidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="provincia"><span jhiTranslate="telefoniaApp.cliente.provincia">Provincia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigoPostal"><span jhiTranslate="telefoniaApp.cliente.codigoPostal">Codigo Postal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cta"><span jhiTranslate="telefoniaApp.cliente.cta">Cta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observaciones"><span jhiTranslate="telefoniaApp.cliente.observaciones">Observaciones</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="penalizacionesVF"><span jhiTranslate="telefoniaApp.cliente.penalizacionesVF">Penalizaciones VF</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="penalizacionesUn4tel"><span jhiTranslate="telefoniaApp.cliente.penalizacionesUn4tel">Penalizaciones Un 4 Tel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="liberalizaciones"><span jhiTranslate="telefoniaApp.cliente.liberalizaciones">Liberalizaciones</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costeAlcliente"><span jhiTranslate="telefoniaApp.cliente.costeAlcliente">Coste Alcliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ocultarComerciales"><span jhiTranslate="telefoniaApp.cliente.ocultarComerciales">Ocultar Comerciales</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                <td><a [routerLink]="['/cliente', cliente.id, 'view' ]">{{cliente.id}}</a></td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.cif}}</td>
                <td>{{cliente.apoderado}}</td>
                <td>{{cliente.nacimiento | date:'mediumDate'}}</td>
                <td>{{cliente.dni}}</td>
                <td>{{cliente.personaContacto}}</td>
                <td>{{cliente.correo}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.localidad}}</td>
                <td>{{cliente.provincia}}</td>
                <td>{{cliente.codigoPostal}}</td>
                <td>{{cliente.cta}}</td>
                <td>{{cliente.observaciones}}</td>
                <td>{{cliente.penalizacionesVF}}</td>
                <td>{{cliente.penalizacionesUn4tel}}</td>
                <td>{{cliente.liberalizaciones}}</td>
                <td>{{cliente.costeAlcliente}}</td>
                <td>{{cliente.ocultarComerciales}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cliente', cliente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cliente', cliente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cliente', { outlets: { popup: cliente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientes && clientes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
