<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comercial">
            <h2><span jhiTranslate="telefoniaApp.comercial.detail.title">Comercial</span> {{comercial.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.comercial.nombre">Nombre</span></dt>
                <dd>
                    <span>{{comercial.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.comercial.apellidos">Apellidos</span></dt>
                <dd>
                    <span>{{comercial.apellidos}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.comercial.dni">Dni</span></dt>
                <dd>
                    <span>{{comercial.dni}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.comercial.sfid">Sfid</span></dt>
                <dd>
                    <span>{{comercial.sfid}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.comercial.equipo">Equipo</span></dt>
                <dd>
                    <div *ngIf="comercial.equipo">
                        <a [routerLink]="['/equipo', comercial.equipo?.id, 'view']">{{comercial.equipo?.nombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.comercial.login">Login</span></dt>
                <dd>
                    <div *ngIf="comercial.login">
                        <a [routerLink]="['/login', comercial.login?.id, 'view']">{{comercial.login?.nombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/comercial', comercial.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>