<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.comercial.home.title">Comercials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comercial"
            [routerLink]="['/comercial/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="telefoniaApp.comercial.home.createLabel">
                Create new Comercial
            </span>
        </button>
        <button id="nvg-exportar-imprimir" class="btn btn-info float-right" (click)="generar('IMPRIMIR')">
            <fa-icon [icon]="'print'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                    Exportar a XLS
                </span> -->
        </button>
        <button id="nvg-exportar-pdf" class="btn btn-info float-right" (click)="generar('PDF')">
            <fa-icon [icon]="'file-pdf'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                    Exportar a XLS
                </span> -->
        </button>
        <button id="nvg-exportar-xls" class="btn btn-info float-right" (click)="generar('XLS')">
            <fa-icon [icon]="'file-excel'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                    Exportar a XLS
                </span> -->
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="comercials">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nombre"><span jhiTranslate="telefoniaApp.comercial.nombre">Nombre</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="apellidos"><span jhiTranslate="telefoniaApp.comercial.apellidos">Apellidos</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!-- <th jhiSortBy="dni"><span jhiTranslate="telefoniaApp.comercial.dni">Dni</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th jhiSortBy="sfid"><span jhiTranslate="telefoniaApp.comercial.sfid">Sfid</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="equipo.id"><span jhiTranslate="telefoniaApp.comercial.equipo">Equipo</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="login.id"><span jhiTranslate="telefoniaApp.comercial.login">Login</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comercial of comercials ;trackBy: trackId">
                    <td><a [routerLink]="['/comercial', comercial.id, 'view' ]">{{comercial.id}}</a></td>
                    <td>{{comercial.nombre}}</td>
                    <td>{{comercial.apellidos}}</td>
                    <!--<td>{{comercial.dni}}</td>-->
                    <td>{{comercial.sfid}}</td>
                    <td>
                        <div *ngIf="comercial.equipo">
                            <a
                                [routerLink]="['../equipo', comercial.equipo?.id, 'view' ]">{{comercial.equipo?.nombre}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="comercial.login">
                            <a [routerLink]="['../login', comercial.login?.id, 'view' ]">{{comercial.login?.nombre}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/comercial', comercial.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/comercial', comercial.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'comercial', { outlets: { popup: comercial.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="comercials && comercials.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>