<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-comercial-heading" jhiTranslate="telefoniaApp.comercial.home.createOrEditLabel">Create or edit a
                Comercial</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!comercial.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="comercial.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.comercial.nombre"
                        for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="comercial.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.comercial.apellidos"
                        for="field_apellidos">Apellidos</label>
                    <input type="text" class="form-control" name="apellidos" id="field_apellidos"
                        [(ngModel)]="comercial.apellidos" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.comercial.dni"
                        for="field_dni">Dni</label>
                    <input type="text" class="form-control" name="dni" id="field_dni" [(ngModel)]="comercial.dni" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.comercial.sfid"
                        for="field_sfid">Sfid</label>
                    <input type="text" class="form-control" name="sfid" id="field_sfid" [(ngModel)]="comercial.sfid" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.comercial.equipo"
                        for="field_equipo">Equipo</label>
                    <select class="form-control" id="field_equipo" name="equipo" [(ngModel)]="comercial.equipo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="equipoOption.id === comercial.equipo?.id ? comercial.equipo : equipoOption"
                            *ngFor="let equipoOption of equipos; trackBy: trackEquipoById">{{equipoOption.nombre}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.comercial.login"
                        for="field_login">Login</label>
                    <select class="form-control" id="field_login" name="login" [(ngModel)]="comercial.login">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="loginOption.id === comercial.login?.id ? comercial.login : loginOption"
                            *ngFor="let loginOption of logins; trackBy: trackLoginById">{{loginOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>