<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-oferta-heading" jhiTranslate="telefoniaApp.oferta.home.createOrEditLabel">Create or edit a Oferta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!oferta.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="oferta.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.oferta.numeroOferta" for="field_numeroOferta">Numero Oferta</label>
                    <input type="text" class="form-control" name="numeroOferta" id="field_numeroOferta"
                        [(ngModel)]="oferta.numeroOferta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.oferta.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="oferta.fecha"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.oferta.firmado" for="field_firmado">Firmado</label>
                    <input type="checkbox" class="form-control" name="firmado" id="field_firmado"
                        [(ngModel)]="oferta.firmado" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.oferta.estadoPorcentual" for="field_estadoPorcentual">Estado Porcentual</label>
                    <select class="form-control" id="field_estadoPorcentual" name="estadoPorcentual" [(ngModel)]="oferta.estadoPorcentual" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estadoPorcentualOption.id === oferta.estadoPorcentual?.id ? oferta.estadoPorcentual : estadoPorcentualOption" *ngFor="let estadoPorcentualOption of estadoporcentuals; trackBy: trackEstadoPorcentualById">{{estadoPorcentualOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.oferta.comercial" for="field_comercial">Comercial</label>
                    <select class="form-control" id="field_comercial" name="comercial" [(ngModel)]="oferta.comercial" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="comercialOption.id === oferta.comercial?.id ? oferta.comercial : comercialOption" *ngFor="let comercialOption of comercials; trackBy: trackComercialById">{{comercialOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.oferta.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="oferta.cliente" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === oferta.cliente?.id ? oferta.cliente : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.oferta.tramitadoPor" for="field_tramitadoPor">Tramitado Por</label>
                    <select class="form-control" id="field_tramitadoPor" name="tramitadoPor" [(ngModel)]="oferta.tramitadoPor" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tramitadoPorOption.id === oferta.tramitadoPor?.id ? oferta.tramitadoPor : tramitadoPorOption" *ngFor="let tramitadoPorOption of tramitadopors; trackBy: trackTramitadoPorById">{{tramitadoPorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.oferta.subestado" for="field_subestado">Subestado</label>
                    <select class="form-control" id="field_subestado" name="subestado" [(ngModel)]="oferta.subestado" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subestadoOption.id === oferta.subestado?.id ? oferta.subestado : subestadoOption" *ngFor="let subestadoOption of subestados; trackBy: trackSubestadoById">{{subestadoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
