<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.oferta.home.title">Ofertas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-oferta" [routerLink]="['/oferta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="telefoniaApp.oferta.home.createLabel">
            Create new Oferta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ofertas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroOferta"><span jhiTranslate="telefoniaApp.oferta.numeroOferta">Numero Oferta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="telefoniaApp.oferta.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firmado"><span jhiTranslate="telefoniaApp.oferta.firmado">Firmado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estadoPorcentual.id"><span jhiTranslate="telefoniaApp.oferta.estadoPorcentual">Estado Porcentual</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comercial.id"><span jhiTranslate="telefoniaApp.oferta.comercial">Comercial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cliente.id"><span jhiTranslate="telefoniaApp.oferta.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tramitadoPor.id"><span jhiTranslate="telefoniaApp.oferta.tramitadoPor">Tramitado Por</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subestado.id"><span jhiTranslate="telefoniaApp.oferta.subestado">Subestado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let oferta of ofertas ;trackBy: trackId">
                <td><a [routerLink]="['/oferta', oferta.id, 'view' ]">{{oferta.id}}</a></td>
                <td>{{oferta.numeroOferta}}</td>
                <td>{{oferta.fecha | date:'mediumDate'}}</td>
                <td>{{oferta.firmado}}</td>
                <td>
                    <div *ngIf="oferta.estadoPorcentual">
                        <a [routerLink]="['../estado-porcentual', oferta.estadoPorcentual?.id, 'view' ]" >{{oferta.estadoPorcentual?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="oferta.comercial">
                        <a [routerLink]="['../comercial', oferta.comercial?.id, 'view' ]" >{{oferta.comercial?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="oferta.cliente">
                        <a [routerLink]="['../cliente', oferta.cliente?.id, 'view' ]" >{{oferta.cliente?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="oferta.tramitadoPor">
                        <a [routerLink]="['../tramitado-por', oferta.tramitadoPor?.id, 'view' ]" >{{oferta.tramitadoPor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="oferta.subestado">
                        <a [routerLink]="['../subestado', oferta.subestado?.id, 'view' ]" >{{oferta.subestado?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/oferta', oferta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/oferta', oferta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'oferta', { outlets: { popup: oferta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ofertas && ofertas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
