<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="oferta">
            <h2><span jhiTranslate="telefoniaApp.oferta.detail.title">Oferta</span> {{oferta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.oferta.numeroOferta">Numero Oferta</span></dt>
                <dd>
                    <span>{{oferta.numeroOferta}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.oferta.fecha">Fecha</span></dt>
                <dd>
                    <span>{{oferta.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.oferta.firmado">Firmado</span></dt>
                <dd>
                    <span>{{oferta.firmado}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.oferta.estadoPorcentual">Estado Porcentual</span></dt>
                <dd>
                    <div *ngIf="oferta.estadoPorcentual">
                        <a [routerLink]="['/estado-porcentual', oferta.estadoPorcentual?.id, 'view']">{{oferta.estadoPorcentual?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.oferta.comercial">Comercial</span></dt>
                <dd>
                    <div *ngIf="oferta.comercial">
                        <a [routerLink]="['/comercial', oferta.comercial?.id, 'view']">{{oferta.comercial?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.oferta.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="oferta.cliente">
                        <a [routerLink]="['/cliente', oferta.cliente?.id, 'view']">{{oferta.cliente?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.oferta.tramitadoPor">Tramitado Por</span></dt>
                <dd>
                    <div *ngIf="oferta.tramitadoPor">
                        <a [routerLink]="['/tramitado-por', oferta.tramitadoPor?.id, 'view']">{{oferta.tramitadoPor?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.oferta.subestado">Subestado</span></dt>
                <dd>
                    <div *ngIf="oferta.subestado">
                        <a [routerLink]="['/subestado', oferta.subestado?.id, 'view']">{{oferta.subestado?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/oferta', oferta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
