<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-producto-heading" jhiTranslate="telefoniaApp.producto.home.createOrEditLabel">Create or edit a
                Producto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!producto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="producto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.nombre"
                        for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="producto.nombre" required="true" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.spirit"
                        for="field_spirit">Spirit</label>
                    <input type="text" class="form-control" name="spirit" id="field_spirit"
                        [(ngModel)]="producto.spirit" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.ow" for="field_ow">Ow</label>
                    <input type="text" class="form-control" name="ow" id="field_ow" [(ngModel)]="producto.ow" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.comisionConPermanencia"
                        for="field_comisionConPermanencia">Comision Con Permanencia</label>
                    <input type="number" class="form-control" name="comisionConPermanencia"
                        id="field_comisionConPermanencia" [(ngModel)]="producto.comisionConPermanencia" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.comisionSinPermanencia"
                        for="field_comisionSinPermanencia">Comision Sin Permanencia</label>
                    <input type="number" class="form-control" name="comisionSinPermanencia"
                        id="field_comisionSinPermanencia" [(ngModel)]="producto.comisionSinPermanencia" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.rappel"
                        for="field_rappel">Rappel</label>
                    <input type="number" class="form-control" name="rappel" id="field_rappel"
                        [(ngModel)]="producto.rappel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.precioVenta"
                        for="field_precioVenta">Precio Venta</label>
                    <input type="number" class="form-control" name="precioVenta" id="field_precioVenta"
                        [(ngModel)]="producto.precioVenta" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.familia"
                        for="field_familia">Familia</label>
                    <select class="form-control" id="field_familia" name="familia" [(ngModel)]="producto.familia">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="familiaOption.id === producto.familia?.id ? producto.familia : familiaOption"
                            *ngFor="let familiaOption of familias; trackBy: trackFamiliaById">{{familiaOption.nombre}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.producto.cuentaLinea"
                        for="field_cuentaLinea">Cuenta Linea</label>
                    <select class="form-control" id="field_cuentaLinea" name="cuentaLinea"
                        [(ngModel)]="producto.cuentaLinea">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="cuentaLineaOption.id === producto.cuentaLinea?.id ? producto.cuentaLinea : cuentaLineaOption"
                            *ngFor="let cuentaLineaOption of cuentalineas; trackBy: trackCuentaLineaById">
                            {{cuentaLineaOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>