<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="producto">
            <h2><span jhiTranslate="telefoniaApp.producto.detail.title">Producto</span> {{producto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.producto.nombre">Nombre</span></dt>
                <dd>
                    <span>{{producto.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.producto.spirit">Spirit</span></dt>
                <dd>
                    <span>{{producto.spirit}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.producto.ow">Ow</span></dt>
                <dd>
                    <span>{{producto.ow}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.producto.comisionConPermanencia">Comision Con Permanencia</span>
                </dt>
                <dd>
                    <span>{{producto.comisionConPermanencia}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.producto.comisionSinPermanencia">Comision Sin Permanencia</span>
                </dt>
                <dd>
                    <span>{{producto.comisionSinPermanencia}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.producto.rappel">Rappel</span></dt>
                <dd>
                    <span>{{producto.rappel}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.producto.precioVenta">Precio Venta</span></dt>
                <dd>
                    <span>{{producto.precioVenta}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.producto.familia">Familia</span></dt>
                <dd>
                    <div *ngIf="producto.familia">
                        <a [routerLink]="['/familia', producto.familia?.id, 'view']">{{producto.familia?.nombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.producto.cuentaLinea">Cuenta Linea</span></dt>
                <dd>
                    <div *ngIf="producto.cuentaLinea">
                        <a
                            [routerLink]="['/cuenta-linea', producto.cuentaLinea?.id, 'view']">{{producto.cuentaLinea?.nombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/producto', producto.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>