<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.producto.home.title">Productos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto"
            [routerLink]="['/producto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="telefoniaApp.producto.home.createLabel">
                Create new Producto
            </span>
        </button>
        <button id="nvg-exportar-imprimir" class="btn btn-info float-right" (click)="generar('IMPRIMIR')">
            <fa-icon [icon]="'print'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                Exportar a XLS
            </span> -->
        </button>
        <button id="nvg-exportar-pdf" class="btn btn-info float-right" (click)="generar('PDF')">
            <fa-icon [icon]="'file-pdf'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                Exportar a XLS
            </span> -->
        </button>
        <button id="nvg-exportar-xls" class="btn btn-info float-right" (click)="generar('XLS')">
            <fa-icon [icon]="'file-excel'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                Exportar a XLS
            </span> -->
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="productos">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nombre"><span jhiTranslate="telefoniaApp.producto.nombre">Nombre</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="spirit"><span jhiTranslate="telefoniaApp.producto.spirit">Spirit</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="ow"><span jhiTranslate="telefoniaApp.producto.ow">Ow</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="comisionConPermanencia"><span
                            jhiTranslate="telefoniaApp.producto.comisionConPermanencia">Comision Con Permanencia</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="comisionSinPermanencia"><span
                            jhiTranslate="telefoniaApp.producto.comisionSinPermanencia">Comision Sin Permanencia</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!--
                    <th jhiSortBy="rappel"><span jhiTranslate="telefoniaApp.producto.rappel">Rappel</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="precioVenta"><span jhiTranslate="telefoniaApp.producto.precioVenta">Precio
                            Venta</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="familia.id"><span jhiTranslate="telefoniaApp.producto.familia">Familia</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="cuentaLinea.id"><span jhiTranslate="telefoniaApp.producto.cuentaLinea">Cuenta
                            Linea</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos ;trackBy: trackId">
                    <td><a [routerLink]="['/producto', producto.id, 'view' ]">{{producto.id}}</a></td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.spirit}}</td>
                    <td>{{producto.ow}}</td>
                    <td>{{producto.comisionConPermanencia}}</td>
                    <td>{{producto.comisionSinPermanencia}}</td>
                    <!--
                    <td>{{producto.rappel}}</td>
                    <td>{{producto.precioVenta}}</td>
                    <td>
                        <div *ngIf="producto.familia">
                            <a [routerLink]="['../familia', producto.familia?.id, 'view' ]">{{producto.familia?.id}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="producto.cuentaLinea">
                            <a
                                [routerLink]="['../cuenta-linea', producto.cuentaLinea?.id, 'view' ]">{{producto.cuentaLinea?.id}}</a>
                        </div>
                    </td>
                    -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/producto', producto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/producto', producto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'producto', { outlets: { popup: producto.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productos && productos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>