<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-familia-heading" jhiTranslate="telefoniaApp.familia.home.createOrEditLabel">Create or edit a
                Familia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!familia.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="familia.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.familia.nombre"
                        for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre" [(ngModel)]="familia.nombre"
                        required="true" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.familia.tipoLinea"
                        for="field_tipoLinea">Tipo Linea</label>
                    <select class="form-control" id="field_tipoLinea" name="tipoLinea" [(ngModel)]="familia.tipoLinea">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="tipoLineaOption.id === familia.tipoLinea?.id ? familia.tipoLinea : tipoLineaOption"
                            *ngFor="let tipoLineaOption of tipolineas; trackBy: trackTipoLineaById">
                            {{tipoLineaOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>