<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="familia">
            <h2><span jhiTranslate="telefoniaApp.familia.detail.title">Familia</span> {{familia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.familia.nombre">Nombre</span></dt>
                <dd>
                    <span>{{familia.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.familia.tipoLinea">Tipo Linea</span></dt>
                <dd>
                    <div *ngIf="familia.tipoLinea">
                        <a
                            [routerLink]="['/tipo-linea', familia.tipoLinea?.id, 'view']">{{familia.tipoLinea?.nombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/familia', familia.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>