<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.familia.home.title">Familias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-familia"
            [routerLink]="['/familia/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="telefoniaApp.familia.home.createLabel">
                Create new Familia
            </span>
        </button>
        <button id="nvg-exportar-imprimir" class="btn btn-info float-right" (click)="generar('IMPRIMIR')">
            <fa-icon [icon]="'print'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                Exportar a XLS
            </span> -->
        </button>
        <button id="nvg-exportar-pdf" class="btn btn-info float-right" (click)="generar('PDF')">
            <fa-icon [icon]="'file-pdf'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                Exportar a XLS
            </span> -->
        </button>
        <button id="nvg-exportar-xls" class="btn btn-info float-right" (click)="generar('XLS')">
            <fa-icon [icon]="'file-excel'"></fa-icon>
            <!--    <span jhiTranslate="global.exportar.xls">
                Exportar a XLS
            </span> -->
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="familias">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nombre"><span jhiTranslate="telefoniaApp.familia.nombre">Nombre</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="tipoLinea.id"><span jhiTranslate="telefoniaApp.familia.tipoLinea">Tipo Linea</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let familia of familias ;trackBy: trackId">
                    <td><a [routerLink]="['/familia', familia.id, 'view' ]">{{familia.id}}</a></td>
                    <td>{{familia.nombre}}</td>
                    <td>
                        <div *ngIf="familia.tipoLinea">
                            <a
                                [routerLink]="['../tipo-linea', familia.tipoLinea?.id, 'view' ]">{{familia.tipoLinea?.nombre}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/familia', familia.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/familia', familia.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'familia', { outlets: { popup: familia.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="familias && familias.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>