<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.login.home.title">Logins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-login" [routerLink]="['/login/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="telefoniaApp.login.home.createLabel">
            Create new Login
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="logins">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="telefoniaApp.login.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pass"><span jhiTranslate="telefoniaApp.login.pass">Pass</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="perfil.id"><span jhiTranslate="telefoniaApp.login.perfil">Perfil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let login of logins ;trackBy: trackId">
                <td><a [routerLink]="['/login', login.id, 'view' ]">{{login.id}}</a></td>
                <td>{{login.nombre}}</td>
                <td>{{login.pass}}</td>
                <td>
                    <div *ngIf="login.perfil">
                        <a [routerLink]="['../perfil', login.perfil?.id, 'view' ]" >{{login.perfil?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/login', login.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/login', login.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'login', { outlets: { popup: login.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="logins && logins.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
