<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="login">
            <h2><span jhiTranslate="telefoniaApp.login.detail.title">Login</span> {{login.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.login.nombre">Nombre</span></dt>
                <dd>
                    <span>{{login.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.login.pass">Pass</span></dt>
                <dd>
                    <span>{{login.pass}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.login.perfil">Perfil</span></dt>
                <dd>
                    <div *ngIf="login.perfil">
                        <a [routerLink]="['/perfil', login.perfil?.id, 'view']">{{login.perfil?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/login', login.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
