<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-linea-heading" jhiTranslate="telefoniaApp.linea.home.createOrEditLabel">Create or edit a Linea</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!linea.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="linea.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.linea" for="field_linea">Linea</label>
                    <input type="number" class="form-control" name="linea" id="field_linea"
                        [(ngModel)]="linea.linea" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.esNueva" for="field_esNueva">Es Nueva</label>
                    <input type="checkbox" class="form-control" name="esNueva" id="field_esNueva"
                        [(ngModel)]="linea.esNueva" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.descuento" for="field_descuento">Descuento</label>
                    <input type="number" class="form-control" name="descuento" id="field_descuento"
                        [(ngModel)]="linea.descuento" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.porta" for="field_porta">Porta</label>
                    <input type="checkbox" class="form-control" name="porta" id="field_porta"
                        [(ngModel)]="linea.porta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.portaNombre" for="field_portaNombre">Porta Nombre</label>
                    <input type="text" class="form-control" name="portaNombre" id="field_portaNombre"
                        [(ngModel)]="linea.portaNombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.portaCif" for="field_portaCif">Porta Cif</label>
                    <input type="text" class="form-control" name="portaCif" id="field_portaCif"
                        [(ngModel)]="linea.portaCif" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.portaOperador" for="field_portaOperador">Porta Operador</label>
                    <input type="text" class="form-control" name="portaOperador" id="field_portaOperador"
                        [(ngModel)]="linea.portaOperador" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.provision" for="field_provision">Provision</label>
                    <div class="input-group">
                        <input id="field_provision" type="text" class="form-control" name="provision" ngbDatepicker  #provisionDp="ngbDatepicker" [(ngModel)]="linea.provision"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="provisionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.activacion" for="field_activacion">Activacion</label>
                    <div class="input-group">
                        <input id="field_activacion" type="text" class="form-control" name="activacion" ngbDatepicker  #activacionDp="ngbDatepicker" [(ngModel)]="linea.activacion"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="activacionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.paqueteNumero" for="field_paqueteNumero">Paquete Numero</label>
                    <input type="text" class="form-control" name="paqueteNumero" id="field_paqueteNumero"
                        [(ngModel)]="linea.paqueteNumero" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.terminal" for="field_terminal">Terminal</label>
                    <input type="text" class="form-control" name="terminal" id="field_terminal"
                        [(ngModel)]="linea.terminal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.pagoInicial" for="field_pagoInicial">Pago Inicial</label>
                    <input type="number" class="form-control" name="pagoInicial" id="field_pagoInicial"
                        [(ngModel)]="linea.pagoInicial" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.cuotas" for="field_cuotas">Cuotas</label>
                    <input type="number" class="form-control" name="cuotas" id="field_cuotas"
                        [(ngModel)]="linea.cuotas" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.pagoUnico" for="field_pagoUnico">Pago Unico</label>
                    <input type="number" class="form-control" name="pagoUnico" id="field_pagoUnico"
                        [(ngModel)]="linea.pagoUnico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.observacion" for="field_observacion">Observacion</label>
                    <input type="text" class="form-control" name="observacion" id="field_observacion"
                        [(ngModel)]="linea.observacion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.observacionAdicional" for="field_observacionAdicional">Observacion Adicional</label>
                    <input type="text" class="form-control" name="observacionAdicional" id="field_observacionAdicional"
                        [(ngModel)]="linea.observacionAdicional" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.producto" for="field_producto">Producto</label>
                    <select class="form-control" id="field_producto" name="producto" [(ngModel)]="linea.producto" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productoOption.id === linea.producto?.id ? linea.producto : productoOption" *ngFor="let productoOption of productos; trackBy: trackProductoById">{{productoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.permanencia" for="field_permanencia">Permanencia</label>
                    <select class="form-control" id="field_permanencia" name="permanencia" [(ngModel)]="linea.permanencia" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="permanenciaOption.id === linea.permanencia?.id ? linea.permanencia : permanenciaOption" *ngFor="let permanenciaOption of permanencias; trackBy: trackPermanenciaById">{{permanenciaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.paquete" for="field_paquete">Paquete</label>
                    <select class="form-control" id="field_paquete" name="paquete" [(ngModel)]="linea.paquete" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paqueteOption.id === linea.paquete?.id ? linea.paquete : paqueteOption" *ngFor="let paqueteOption of paquetes; trackBy: trackPaqueteById">{{paqueteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telefoniaApp.linea.oferta" for="field_oferta">Oferta</label>
                    <select class="form-control" id="field_oferta" name="oferta" [(ngModel)]="linea.oferta" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ofertaOption.id === linea.oferta?.id ? linea.oferta : ofertaOption" *ngFor="let ofertaOption of ofertas; trackBy: trackOfertaById">{{ofertaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
