<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="linea">
            <h2><span jhiTranslate="telefoniaApp.linea.detail.title">Linea</span> {{linea.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="telefoniaApp.linea.linea">Linea</span></dt>
                <dd>
                    <span>{{linea.linea}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.esNueva">Es Nueva</span></dt>
                <dd>
                    <span>{{linea.esNueva}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.descuento">Descuento</span></dt>
                <dd>
                    <span>{{linea.descuento}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.porta">Porta</span></dt>
                <dd>
                    <span>{{linea.porta}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.portaNombre">Porta Nombre</span></dt>
                <dd>
                    <span>{{linea.portaNombre}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.portaCif">Porta Cif</span></dt>
                <dd>
                    <span>{{linea.portaCif}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.portaOperador">Porta Operador</span></dt>
                <dd>
                    <span>{{linea.portaOperador}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.provision">Provision</span></dt>
                <dd>
                    <span>{{linea.provision}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.activacion">Activacion</span></dt>
                <dd>
                    <span>{{linea.activacion}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.paqueteNumero">Paquete Numero</span></dt>
                <dd>
                    <span>{{linea.paqueteNumero}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.terminal">Terminal</span></dt>
                <dd>
                    <span>{{linea.terminal}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.pagoInicial">Pago Inicial</span></dt>
                <dd>
                    <span>{{linea.pagoInicial}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.cuotas">Cuotas</span></dt>
                <dd>
                    <span>{{linea.cuotas}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.pagoUnico">Pago Unico</span></dt>
                <dd>
                    <span>{{linea.pagoUnico}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.observacion">Observacion</span></dt>
                <dd>
                    <span>{{linea.observacion}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.observacionAdicional">Observacion Adicional</span></dt>
                <dd>
                    <span>{{linea.observacionAdicional}}</span>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="linea.producto">
                        <a [routerLink]="['/producto', linea.producto?.id, 'view']">{{linea.producto?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.permanencia">Permanencia</span></dt>
                <dd>
                    <div *ngIf="linea.permanencia">
                        <a [routerLink]="['/permanencia', linea.permanencia?.id, 'view']">{{linea.permanencia?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.paquete">Paquete</span></dt>
                <dd>
                    <div *ngIf="linea.paquete">
                        <a [routerLink]="['/paquete', linea.paquete?.id, 'view']">{{linea.paquete?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="telefoniaApp.linea.oferta">Oferta</span></dt>
                <dd>
                    <div *ngIf="linea.oferta">
                        <a [routerLink]="['/oferta', linea.oferta?.id, 'view']">{{linea.oferta?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/linea', linea.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
