<div>
    <h2 id="page-heading">
        <span jhiTranslate="telefoniaApp.linea.home.title">Lineas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-linea" [routerLink]="['/linea/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="telefoniaApp.linea.home.createLabel">
            Create new Linea
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lineas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linea"><span jhiTranslate="telefoniaApp.linea.linea">Linea</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="esNueva"><span jhiTranslate="telefoniaApp.linea.esNueva">Es Nueva</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descuento"><span jhiTranslate="telefoniaApp.linea.descuento">Descuento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="porta"><span jhiTranslate="telefoniaApp.linea.porta">Porta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="portaNombre"><span jhiTranslate="telefoniaApp.linea.portaNombre">Porta Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="portaCif"><span jhiTranslate="telefoniaApp.linea.portaCif">Porta Cif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="portaOperador"><span jhiTranslate="telefoniaApp.linea.portaOperador">Porta Operador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="provision"><span jhiTranslate="telefoniaApp.linea.provision">Provision</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activacion"><span jhiTranslate="telefoniaApp.linea.activacion">Activacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paqueteNumero"><span jhiTranslate="telefoniaApp.linea.paqueteNumero">Paquete Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="terminal"><span jhiTranslate="telefoniaApp.linea.terminal">Terminal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pagoInicial"><span jhiTranslate="telefoniaApp.linea.pagoInicial">Pago Inicial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cuotas"><span jhiTranslate="telefoniaApp.linea.cuotas">Cuotas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pagoUnico"><span jhiTranslate="telefoniaApp.linea.pagoUnico">Pago Unico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observacion"><span jhiTranslate="telefoniaApp.linea.observacion">Observacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observacionAdicional"><span jhiTranslate="telefoniaApp.linea.observacionAdicional">Observacion Adicional</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="producto.id"><span jhiTranslate="telefoniaApp.linea.producto">Producto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="permanencia.id"><span jhiTranslate="telefoniaApp.linea.permanencia">Permanencia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paquete.id"><span jhiTranslate="telefoniaApp.linea.paquete">Paquete</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oferta.id"><span jhiTranslate="telefoniaApp.linea.oferta">Oferta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let linea of lineas ;trackBy: trackId">
                <td><a [routerLink]="['/linea', linea.id, 'view' ]">{{linea.id}}</a></td>
                <td>{{linea.linea}}</td>
                <td>{{linea.esNueva}}</td>
                <td>{{linea.descuento}}</td>
                <td>{{linea.porta}}</td>
                <td>{{linea.portaNombre}}</td>
                <td>{{linea.portaCif}}</td>
                <td>{{linea.portaOperador}}</td>
                <td>{{linea.provision | date:'mediumDate'}}</td>
                <td>{{linea.activacion | date:'mediumDate'}}</td>
                <td>{{linea.paqueteNumero}}</td>
                <td>{{linea.terminal}}</td>
                <td>{{linea.pagoInicial}}</td>
                <td>{{linea.cuotas}}</td>
                <td>{{linea.pagoUnico}}</td>
                <td>{{linea.observacion}}</td>
                <td>{{linea.observacionAdicional}}</td>
                <td>
                    <div *ngIf="linea.producto">
                        <a [routerLink]="['../producto', linea.producto?.id, 'view' ]" >{{linea.producto?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="linea.permanencia">
                        <a [routerLink]="['../permanencia', linea.permanencia?.id, 'view' ]" >{{linea.permanencia?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="linea.paquete">
                        <a [routerLink]="['../paquete', linea.paquete?.id, 'view' ]" >{{linea.paquete?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="linea.oferta">
                        <a [routerLink]="['../oferta', linea.oferta?.id, 'view' ]" >{{linea.oferta?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/linea', linea.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/linea', linea.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'linea', { outlets: { popup: linea.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="lineas && lineas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
